<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="">Rechercher :</label>
          <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
            [(ngModel)]="searchText" placeholder="Taper du text pour chercher"autofocus>
        </div>
    </div>
</div>
<div class="row">
  <ul class="list-group">
    <div class="row">
      <div *ngFor="let book of books " class="book col-md-6 mx-auto">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img src="{{book.cover}}" alt="">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{book.title}}</h3>
            <div class="mb-1 text-muted">{{book.price | currency :'EUR'}} </div>
            <p class="card-text mb-auto">{{book.synopsis}}</p>
            <div>
              <a class=" float-left" [routerLink]="['/book-detail/', book.isbn]">Continuer a lire</a>
              <button type="button" class="btn btn-success float-right" (click)="addTocart(book)" >Ajouter au panier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>